<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jyss.yqy.mapper.JBonusFxjMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.yqy.entity.JBonusFxj" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="parent_money" property="amount" jdbcType="FLOAT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
  </resultMap>
 
  <!-- 插入分销奖 -->
  <insert id="insert" parameterType="com.jyss.yqy.entity.JBonusFxj" >
    insert into j_bonus_fxj (id, u_id, u_name, parent_id, parent_money,status, created)
    values (null, #{uId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{amount,jdbcType=FLOAT},
      #{status,jdbcType=TINYINT}, date_sub(now(),interval 12 hour))
  </insert>
  
  
  <!-- 查询昨日的收益 -->
	<select id="selectEarnings" parameterType="int" resultType="float">
		SELECT
			IFNULL(SUM(parent_money),0.00)
		FROM
			j_bonus_fxj
		<where>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId,jdbcType=INTEGER}
			</if>
			AND status = 1
			AND to_days(now()) - to_days(created) = 1
		</where>
	</select>
 
 	<!-- 查询总收益 -->
	<select id="selectTotal" parameterType="int" resultType="float">
		SELECT
			IFNULL(SUM(parent_money),0.00)
		FROM
			j_bonus_fxj
		<where>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId,jdbcType=INTEGER}
			</if>
			AND status = 1
		</where>
	</select>

	<!-- 查询本周列表 -->
	<select id="selectJBonusFxjWek" parameterType="int" resultMap="BaseResultMap">
		SELECT u_name,parent_money,DATE_FORMAT(created, '%Y-%m-%d' ) created
		FROM
		j_bonus_fxj
		<where>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId,jdbcType=INTEGER}
			</if>
			AND status = 1 
			AND YEARWEEK(date_format(created,'%Y-%m-%d')) = YEARWEEK(now())
		</where>
		ORDER BY  created DESC
	</select>
	
	<!-- 按两个日期查询 -->
	<select id="selectJBonusFxjByDay"  resultMap="BaseResultMap">
		SELECT u_name,parent_money,DATE_FORMAT(created, '%Y-%m-%d' ) created
		FROM
		j_bonus_fxj
		<where>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId,jdbcType=INTEGER}
			</if>
			<if test="beginTime != null and beginTime != ''">
				and date_format(created, '%Y-%m-%d') &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and date_format(created, '%Y-%m-%d') &lt;= #{endTime}
			</if>
			AND status = 1 
		</where>
		ORDER BY  created DESC
	</select>
	
	<!-- 按两个日期查询总收益 -->
	<select id="selectFxjTotalByDay"  resultType="float">
		SELECT IFNULL(SUM(parent_money),0.00)
		FROM
		j_bonus_fxj
		<where>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId,jdbcType=INTEGER}
			</if>
			<if test="beginTime != null and beginTime != ''">
				and date_format(created, '%Y-%m-%d') &gt;= #{beginTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and date_format(created, '%Y-%m-%d') &lt;= #{endTime}
			</if>
			AND status = 1 
		</where>
		ORDER BY  created DESC
	</select>
	
	<!-- 按月查询 -->
	<select id="selectJBonusFxjByMonth"  resultMap="BaseResultMap">
		SELECT u_name,parent_money,DATE_FORMAT(created, '%Y-%m-%d' ) created
		FROM
		j_bonus_fxj
		<where>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId,jdbcType=INTEGER}
			</if>
			<if test="month != null and month != ''">
				and date_format(created, '%Y-%m') = #{month}
			</if>
			AND status = 1 
		</where>
		ORDER BY  created DESC
	</select>
	
	<!-- 按月查询总收益 -->
	<select id="selectFxjTotalByMonth"  resultType="float">
		SELECT IFNULL(SUM(parent_money),0.00)
		FROM
		j_bonus_fxj
		<where>
			<if test="parentId != null and parentId != ''">
				and parent_id = #{parentId,jdbcType=INTEGER}
			</if>
			<if test="month != null and month != ''">
				and date_format(created, '%Y-%m') = #{month}
			</if>
			AND status = 1 
		</where>
		ORDER BY  created DESC
	</select>
	
	
	<!-- 查询所有人昨日的收益 -->
	<select id="selectEveryDayEarnings" resultMap="BaseResultMap">
		select parent_id,sum(parent_money) as amount from j_bonus_fxj  
		where status = 1 and to_days(now()) - to_days(created) = 1
		group by parent_id
	</select>
	
	
</mapper>