<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.yqy.mapper.JRecordMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.yqy.entity.JRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_account" property="uAccount" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="depart" property="depart" jdbcType="TINYINT" />
    <result column="zj_uid" property="zjUid" jdbcType="INTEGER" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="pv" property="pv" jdbcType="FLOAT" />
    <result column="jy_pv" property="jyPv" jdbcType="FLOAT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <!-- 更新pv值 -->
  <update id="updateJRecordByUid"  >
	  update j_record 
	  <set>
		  <if test="pv != null and pv != ''">pv = #{pv},</if>
		  <if test="jyPv != null and jyPv != ''">jy_pv = #{jyPv},</if>
		  modify_time = now()
	  </set>
	  where u_id = #{uId}
  </update>
  
  
	<!-- 查询所有用户id -->
	<select id="selectJRecord" resultMap="BaseResultMap">
		select u_id from j_record where status = 1 order by floor
	</select>
  
  
    <!-- 根据父id查询 -->
	<select id="selectJRecordByPid" parameterType="int" resultMap="BaseResultMap">
		select id,u_id,depart,floor,(pv + jy_pv) as pv 
		from j_record 
		where parent_id = #{parentId} and status = 1
	</select>
	
	<!-- 根据用户id查询 -->
	<select id="selectJRecordByUid" parameterType="int" resultMap="BaseResultMap">
		select id,parent_id,depart,floor,(pv + jy_pv) as pv 
		from j_record 
		where u_id = #{uId} and status = 1
	</select>
	
	<!-- 将pv值置0 -->
	<update id="updateJRecord">
		update j_record set pv = 0.00 
	</update>


	<!-- ////////////层奖////////// -->
	<!--查询所有层奖用户-->
	<select id="selectUserByCj" resultMap="BaseResultMap">
		select a.u_id,a.floor,b.cj_status as status
		from j_record a left join u_user b on a.u_id = b.id
		where b.cj_status in (1,2,3,4,5) and a.status = 1
	</select>

	<!-- 根据父id查询代理级别 -->
	<select id="selectUserByPid" parameterType="int" resultMap="BaseResultMap">
		select a.id,a.u_id,a.floor,b.is_chuangke as depart
		from j_record a left join u_user b on a.u_id = b.id
		where a.parent_id = #{parentId} and a.status = 1
	</select>


	<!-- ////////////共享奖////////// -->
	<!--查询共享奖用户-->
	<select id="selectUserGxjByUid" parameterType="int" resultMap="BaseResultMap">
		select a.id,a.u_id,a.u_account,a.parent_id, b.total_amount as pv
		from j_record a left join u_user b on a.u_id = b.id
		where a.u_id = #{uId} and a.status = 1
	</select>
	
  
</mapper>