<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.yqy.mapper.JRecordMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.yqy.entity.JRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="u_account" property="uAccount" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="depart" property="depart" jdbcType="TINYINT" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="pv" property="pv" jdbcType="FLOAT" />
    <result column="jy_pv" property="jyPv" jdbcType="FLOAT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <!-- 更新pv值 -->
  <update id="updateJRecordByUid" parameterType="int" >
	  update j_record 
	  <set>
	  <if test="pv != null and pv != ''">pv = #{pv},</if>
	  <if test="jyPv != null and jyPv != ''">jy_pv = #{jyPv},</if>
	  modify_time = now()
	  </set>
	  where u_id = #{uId}
  </update>
  
  
  <!-- 查询所有用户id -->
  <select id="selectJRecord" resultMap="BaseResultMap">
  	select u_id from j_record where status = 1 
  </select>
  
  
    <!-- 根据父id查询 -->
	<select id="selectJRecordByPid" parameterType="int" resultMap="BaseResultMap">
		select id,u_id,depart,floor,(pv + jy_pv) as pv 
		from j_record 
		<where>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId}</if>
			and status = 1
		</where>
	</select>
	
	<!-- 根据用户id查询 -->
	<select id="selectJRecordByUid" parameterType="int" resultMap="BaseResultMap">
		select id,parent_id,depart,floor,(pv + jy_pv) as pv 
		from j_record 
		<where>
			<if test="uId != null and uId != ''"> and u_id = #{uId}</if>
			and status = 1
		</where>
	</select>
	
	<!-- 将pv值置0 -->
	<update id="updateJRecord">
		update j_record set pv = 0.00 
	</update>
	
	
  
</mapper>