
<!--  <?xml version="1.0" encoding="UTF-8" ?>-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jyss.yqy.mapper.OrdersBMapper" > 
    
             
    <resultMap type="com.jyss.yqy.entity.OrdersB" id="obResultMap">   
        <id property="id" column="id"  /> 
        <result property="orderSn" column="order_sn"  />     
        <result property="gmId" column="gm_id"  />             
        <result property="gmr" column="gmr"  />
        <result property="tel" column="tel"  />        
        <result property="cjsj" column="cjsj"  />
        <result property="gmSp" column="gm_sp"  /> 
        <result property="pics" column="pics"  />
        <result property="gmNum" column="gm_num"  />
        <result property="gmDw" column="gm_dw"  />
        <result property="price" column="price"  />
        <result property="type" column="type"  />
        <result property="zfType" column="zf_type"  /><!-- 支付方式：1=支付宝，2=微信，3=现金支付 -->
        <result property="code" column="code"  />
        <result property="total" column="total"  />
        <result property="pv" column="pv"  />
        <result property="zfId" column="zf_id"  />
        <result property="status" column="status"  />
        <result property="createdAt" column="created_at"  />
        <result property="lastModifyTime" column="last_modify_time"  />
        <result property="cjsj" column="cjsj"  />
    </resultMap>    
    
    
   <resultMap type="com.jyss.yqy.entity.Goods" id="gResultMap">   
        <id property="id" column="id"  /> 
        <result property="name" column="name"  />     
        <result property="pics" column="pics"  />             
        <result property="spec" column="spec"  />
        <result property="stock" column="stock"  />        
        <result property="desc" column="desc"  />
        <result property="price" column="price"  /> 
        <result property="oldPrice" column="old_price"  /> 
    </resultMap>        
    
    <resultMap type="com.jyss.yqy.entity.UserTotalAmount" id="utaResultMap">   
        <result property="id" column="id"  />     
        <result property="amount" column="amount"  />             
    </resultMap>   
    
    <resultMap type="com.jyss.yqy.entity.JRecord" id="jrResultMap">   
        <result property="uId" column="id"  />     
        <result property="pv" column="pv"  />             
    </resultMap>      
     
    <!-- B端商品详情 type==4-->  
     <select id="getGoods" resultMap="gResultMap">          
	     select g.id,g.name,g.pics,g.spec,g.stock,g.desc,g.price,g.old_price  from s_good g 				
         <where> 
              1 = 1
              <if test="type != null and type !=''"> and type = #{type} </if> 				
		 </where> 
    </select> 
       
   <select id="getGoodsByid" resultMap="gResultMap">          
	     select g.id,g.name,g.pics,g.spec,g.stock,g.desc,g.price,g.old_price  from s_good g 				
         <where> 
              1 = 1
              <if test="id != null and id !=''"> and id = #{id} </if> 				
		 </where> 
		 limit 1
    </select>    
         
               
     <!-- B端商品订单 -->        
     <!-- 查询b端商品 -->   
    <select id="getOrdersBy" resultMap="obResultMap">   
         <!--  DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:%s' ) cjsj    LIKE CONCAT('%',#{name},'%')  -->
	     select * ,DATE_FORMAT(created_at, '%Y-%m-%d %H:%i' )  cjsj  from p_orders_b  				
         <where> 
              1 = 1
              <if test="status != null and status !=''"> and status = #{status} </if> 	
			  <if test="orderSn != null and orderSn !=''"> and order_sn = #{orderSn} </if>
			  <if test="gmId != null and gmId !=''"> and gm_id = #{gmId} </if> 		
		 </where> 
		 order by status ,created_at desc
    </select>  
    
    
    <!-- 查询A端商品总数量 -->
    <select id="selectTotalOrderABy" resultMap="obResultMap">
    	select sum(b.good_num) gm_num,c.nick gmr,c.account tel from o_order_good a 
    	left join o_order_good_relation b on a.order_sn = b.order_sn
 		left join u_user c on a.u_uuid = c.uuid
 		<where>
 			<if test="status != null and status !=''">and a.status = #{status}</if>
 			<if test="orderSn != null and orderSn !=''">and a.order_sn = #{orderSn}</if>
 			<if test="gmId != null and gmId !=''">and a.thd_id = #{gmId}</if>
 			and a.pick_up = 1 
 		</where>
    </select>
    
    <!-- 查询A端订单信息 -->
    <select id="selectOrderABy" resultMap="obResultMap">
    	select b.good_num gm_num,b.good_price price,b.name gm_sp,c.nick gmr,c.account tel from o_order_good a 
		join (select d.*,e.name from o_order_good_relation d left join s_good e on d.good_uuid = e.uuid) b on a.order_sn = b.order_sn
		join u_user c on a.u_uuid = c.uuid
 		<where>
 			<if test="status != null and status !=''">and a.status = #{status}</if>
 			<if test="orderSn != null and orderSn !=''">and a.order_sn = #{orderSn}</if>
 			<if test="gmId != null and gmId !=''">and a.thd_id = #{gmId}</if>
 			and a.pick_up = 1 
 		</where>
    </select>
    


   <!-- 增加购买商品支付成功或者失败的订单记录 -->
    <insert id="addOrder" parameterType="com.jyss.yqy.entity.OrdersB" 
        useGeneratedKeys="true" keyProperty="id"> 
        insert into p_orders_b 
        values(null,#{orderSn},#{gmId},#{gmr},#{tel},#{pics},#{gmSp},#{price},#{gmNum},#{gmDw},
               #{status},#{type},now(),now(),#{dljb},#{code},#{total},#{pv},#{zfId},#{zfType})             
    </insert>
    
     <!--修改订单状态 --> 
    <update id="upOrderStatus"  >
        update p_orders_b  set status = #{status}  ,last_modify_time = now()
             where order_sn =#{orderSn} and status = #{statusBefore}
    </update>
    
    <!--修改A端订单状态 --> 
    <update id="updateOrderAStatus"  >
        update o_order_good  set status = #{status} , receive_time = now()
             where order_sn =#{orderSn} and status = #{statusBefore}
    </update>
    
     <!-- 删除订单-->
     <delete id="delOrder" >
        delete from p_orders_b  where order_sn =#{orderSn}	    
    </delete>
    
    
   
    <!--修改密码 --> 
    <update id="upHtpassword" parameterType="String" >
        update p_thd  set password = #{password},salt = #{salt}   where name = #{name} and  status = 1
    </update>
    
    <!--禁用用户 --> 
    <update id="upThdStatus" parameterType="java.util.List" >
        update p_thd  set status = #{status}  where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">   
	        #{id}   
	    </foreach>  
    </update>
    
    <!-- 删除用户 -->
     <delete id="deleteThds" parameterType="java.util.List">
        delete from p_thd where id in 
	    <foreach collection="ids" item="id" open="(" separator="," close=")">   
	        #{id}   
	    </foreach>  
    </delete>
    
    <!-- 增加提货点用户 -->
    <insert id="addThd" parameterType="com.jyss.yqy.entity.Thd" 
        useGeneratedKeys="true" keyProperty="id"> 
        insert into p_thd values(null,#{name},#{tel},#{password},#{salt},#{pics},now(),now(),now(),#{status},#{thName},#{provinceId},#{province},#{cityId},#{city},#{areaId},#{area})             
    </insert>
    
     <!--修改用户 --> 
    <update id="upThd" parameterType="com.jyss.yqy.entity.Thd" >
        update p_thd  set name = #{name} , tel = #{tel} ,th_name = #{thName} ,province_id = #{provinceId} ,province = #{province} ,city_id = #{cityId} ,city = #{city}, 
                      area_id = #{areaId} ,area = #{area} ,last_modify_time = now()
             where id =#{id}
    </update>
    
    <!--提货点商品详情-->
     <select id="getThSpBy" resultMap="obResultMap">     
	    select o.*,DATE_FORMAT(o.created_at, '%Y-%m-%d %H:%i:%s' ) cjsj,t.name,t.th_name from p_thd_orders o
			left join p_thd t
			on o.th_id = t.id				
         <where> 
              1 = 1
			  <if test="name != null and name !=''"> and t.th_name   LIKE CONCAT('%',#{name},'%') </if> 		
		 </where> 
		order by o.created_at desc
    </select>    
    
    
    <!-- 查询已完成的订单 -->
    <select id="getSuccessOrder" resultMap="utaResultMap">
    	select CONVERT(gm_id,SIGNED) as id,SUM(price*gm_num) as amount  
    	from p_orders_b 
    	where status = 2 and type =1 and to_days(now()) - to_days(last_modify_time) = 1 GROUP BY gm_id
    	
    </select>
   
   <!-- 查询已完成的订单pv -->
    <select id="getSuccessOrderPv" resultMap="jrResultMap">
    	select CONVERT(gm_id,SIGNED) as id,CONVERT(sum(pv),DECIMAL) as pv
    	from p_orders_b 
    	where status = 2 and type =1 and  to_days(now()) - to_days(last_modify_time) = 1 GROUP BY gm_id
    	
    </select>

</mapper>