
<!--  <?xml version="1.0" encoding="UTF-8" ?>-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jyss.yqy.mapper.ScoreBalanceMapper" > 

<!--现金积分=购物积分=记录表-->
    <resultMap type="com.jyss.yqy.entity.ScoreBalance" id="sblResultMap">   
        <id property="id" column="id"  />
        <result property="end" column="end"  /> <!--1=A端 2=B端  -->
        <result property="uUuid" column="u_uuid"  />
        <result property="category" column="category"  /><!--积分来源或去向[1=A端取现，2=A端消费，3=A端返佣，4=管理奖，5=辅导奖，6=分销奖，7=市场奖，8=B端消费,9积分返还]  -->
        <result property="type" column="type"  /><!--1=收入 2=支出  -->
        <result property="score" column="score"  />
        <result property="jyScore" column="jy_score"  />
        <result property="createdAt" column="created_at"  />
        <result property="title" column="title"  />
        <result property="cjsj" column="cjsj"  />
        <result property="status" column="status"  />
         <result property="orderSn" column="order_sn"  />

    </resultMap>    
    
    <!--积分返还-->
    <resultMap type="com.jyss.yqy.entity.ScoreBack" id="sBackResultMap">   
        <id property="id" column="id"  />   
        <result property="uuuid" column="u_uuid"  />   
        <result property="dlType" column="dl_type"  />
        <result property="backNum" column="back_num"  />
        <result property="leftNum" column="left_num"  />
        <result property="backScore" column="back_score"  />
        <result property="eachScore" column="each_score"  />
        <result property="createdAt" column="created_at"  />
        <result property="backTime" column="back_time"  />
        <result property="status" column="status"  />

    </resultMap>   
    
    <!-- 积分返还 -->
    <!--返还记录=插入-->
    <insert id="addBackScore" parameterType="com.jyss.yqy.entity.ScoreBack" 
        useGeneratedKeys="true" keyProperty="id">                                                     <!-- ordersn -->
        insert into u_score_back values(null,#{uuuid},#{dlType},#{backNum},#{leftNum},#{backScore},#{eachScore},#{createdAt},#{backTime},#{status})              
    </insert>
    
    <!--记录查询--> 
    <select id="getBackScore" resultMap="sBackResultMap" >  
        select * from u_score_back                           
            <where> 
               1 = 1
			   <if test="uuuid != null and uuuid !=''"> and u_uuid = #{uuuid} </if> 
			   <if test="status != null and status !=''"> and status = #{status} </if> 
			   <if test="backTime != null and backTime !=''"> and back_ime &gt; #{backTime} </if>  
			   <if test="backTime1 != null and backTime1 !=''"> and back_ime &lt; #{backTime1} </if>  
			</where>  
			order by created_at desc 
    </select> 
    
   <!-- 更新剩余返还次数 -->
   <update id="upBackNum"  >
	  update u_score_back  set  back_num = #{backNum} , back_time = #{backTime}
            where u_uuid = #{uId}  and status =1;
   </update>
  
         
     
    <!--购物积分=查询--> 
    <select id="getShoppingScoreBalance" resultMap="sblResultMap" >  
        select t.*,DATE_FORMAT(t.created_at, '%Y-%m-%d %H:%i' )  cjsj from (select u.*,c.bz_value as title from u_shopping_score_balance u 
                           left join p_xt_cl c 
                           on u.category = c.bz_id 
                           where c.bz_type='category_type') t
            <where> 
                 1 = 1
			   <if test="uUuid != null and uUuid !=''"> and t.u_uuid = #{uUuid} </if>  
			</where>  
			order by created_at desc 
    </select> 
    
   <!--现金积分=查询--> 
    <select id="getCashScoreBalance" resultMap="sblResultMap" >  
        <!-- select * from u_cash_score_balance  -->
         select m.*, DATE_FORMAT(m.created_at, '%Y-%m-%d %H:%i' )  cjsj  from (select u.*,c.bz_value as title from u_cash_score_balance u 
                           left join p_xt_cl c 
                           on u.category = c.bz_id 
                           where c.bz_type='category_type') m
            <where> 
                 1 = 1
			   <if test="uUuid != null and uUuid !=''"> and m.u_uuid = #{uUuid} </if>  
			</where>   
			order by created_at desc
    </select> 
  
     <!--现金积分=插入-->
    <insert id="addCashScoreBalance" parameterType="com.jyss.yqy.entity.ScoreBalance" 
        useGeneratedKeys="true" keyProperty="id">                                                     <!-- ordersn -->
        insert into u_cash_score_balance values(null,#{end},#{uUuid},#{category},#{type},#{score},#{jyScore},'B',#{createdAt},#{status})              
    </insert>
   
   
    <!--购物积分=插入-->
    <insert id="addShoppingScoreBalance" parameterType="com.jyss.yqy.entity.ScoreBalance" 
        useGeneratedKeys="true" keyProperty="id"> 
        insert into u_shopping_score_balance values(null,#{end},#{uUuid},#{category},#{type},#{score},#{jyScore},'B',#{createdAt},#{status})              
    </insert>
    
    <!--现金积分=插入-->
    <insert id="addCashScore" parameterType="com.jyss.yqy.entity.ScoreBalance" 
        useGeneratedKeys="true" keyProperty="id">                                                     <!-- 创建时间减6小时 -->
        insert into u_cash_score_balance values(null,#{end},#{uUuid},#{category},#{type},#{score},#{jyScore},'B',date_sub(now(),interval 6 hour),#{status})              
    </insert>
   
   
    <!--购物积分=插入-->
    <insert id="addShoppingScore" parameterType="com.jyss.yqy.entity.ScoreBalance" 
        useGeneratedKeys="true" keyProperty="id"> 
        insert into u_shopping_score_balance values(null,#{end},#{uUuid},#{category},#{type},#{score},#{jyScore},'B',date_sub(now(),interval 6 hour),#{status})              
    </insert>
     
  
  
    
</mapper>