
<!--  <?xml version="1.0" encoding="UTF-8" ?>-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jyss.yqy.mapper.ScoreBalanceMapper" > 

<!--现金积分=购物积分=记录表-->
    <resultMap type="com.jyss.yqy.entity.ScoreBalance" id="sblResultMap">   
        <id property="id" column="id"  />
        <result property="end" column="end"  /> <!--1=A端 2=B端  -->
        <result property="uUuid" column="u_uuid"  />
        <result property="category" column="category"  /><!--积分来源或去向[1=A端取现，2=A端消费，3=A端返佣，4=管理奖，5=辅导奖，6=分销奖，7=市场奖，8=B端消费]  -->
        <result property="type" column="type"  /><!--1=收入 2=支出  -->
        <result property="score" column="score"  />
        <result property="jyScore" column="jy_score"  />
        <result property="createdAt" column="created_at"  />
        <result property="title" column="title"  />
        <result property="cjsj" column="cjsj"  />

    </resultMap>           
     
    <!--购物积分=查询--> 
    <select id="getShoppingScoreBalance" resultMap="sblResultMap" >  
        select t.*,DATE_FORMAT(t.created_at, '%Y-%m-%d %H:%i' )  cjsj from (select u.*,c.bz_value as title from u_shopping_score_balance u 
                           left join p_xt_cl c 
                           on u.category = c.bz_id 
                           where c.bz_type='category_type') t
            <where> 
                 1 = 1
			   <if test="uUuid != null and uUuid !=''"> and t.u_uuid = #{uUuid} </if>  
			</where>  
			order by created_at desc 
    </select> 
    
   <!--现金积分=查询--> 
    <select id="getCashScoreBalance" resultMap="sblResultMap" >  
        <!-- select * from u_cash_score_balance  -->
         select m.*, DATE_FORMAT(m.created_at, '%Y-%m-%d %H:%i' )  cjsj  from (select u.*,c.bz_value as title from u_cash_score_balance u 
                           left join p_xt_cl c 
                           on u.category = c.bz_id 
                           where c.bz_type='category_type') m
            <where> 
                 1 = 1
			   <if test="uUuid != null and uUuid !=''"> and m.u_uuid = #{uUuid} </if>  
			</where>   
			order by created_at desc
    </select> 
  
     <!--现金积分=插入-->
    <insert id="addCashScoreBalance" parameterType="com.jyss.yqy.entity.ScoreBalance" 
        useGeneratedKeys="true" keyProperty="id"> 
        insert into u_cash_score_balance values(null,#{end},#{uUuid},#{category},#{type},#{score},#{jyScore},#{createdAt})              
    </insert>
   
   
    <!--购物积分=插入-->
    <insert id="addShoppingScoreBalance" parameterType="com.jyss.yqy.entity.ScoreBalance" 
        useGeneratedKeys="true" keyProperty="id"> 
        insert into u_shopping_score_balance values(null,#{end},#{uUuid},#{category},#{type},#{score},#{jyScore},#{createdAt})              
    </insert>
     
  
  
    
</mapper>