<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.yqy.mapper.UMobileLoginMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.yqy.entity.UMobileLogin" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="u_uuid" property="uUuid" jdbcType="CHAR" />
    <result column="s_uuid" property="sUuid" jdbcType="CHAR" />
    <result column="token" property="token" jdbcType="CHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="last_access_time" property="lastAccessTime" jdbcType="INTEGER" />
    <result column="push_info" property="pushInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, u_uuid, s_uuid, token, created_at, last_access_time, push_info
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jyss.yqy.entity.UMobileLoginExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from u_mobile_login
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_mobile_login
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_mobile_login
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jyss.yqy.entity.UMobileLoginExample" >
    delete from u_mobile_login
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jyss.yqy.entity.UMobileLogin" >
    insert into u_mobile_login (id, u_uuid, s_uuid, token, 
      created_at, last_access_time, push_info
      )
    values (#{id,jdbcType=BIGINT}, #{uUuid,jdbcType=CHAR}, #{sUuid,jdbcType=CHAR}, #{token,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{lastAccessTime,jdbcType=INTEGER}, #{pushInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jyss.yqy.entity.UMobileLogin" >
    insert into u_mobile_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uUuid != null" >
        u_uuid,
      </if>
      <if test="sUuid != null" >
        s_uuid,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="lastAccessTime != null" >
        last_access_time,
      </if>
      <if test="pushInfo != null" >
        push_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uUuid != null" >
        #{uUuid,jdbcType=CHAR},
      </if>
      <if test="sUuid != null" >
        #{sUuid,jdbcType=CHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=CHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAccessTime != null" >
        #{lastAccessTime,jdbcType=INTEGER},
      </if>
      <if test="pushInfo != null" >
        #{pushInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jyss.yqy.entity.UMobileLoginExample" resultType="java.lang.Integer" >
    select count(*) from u_mobile_login
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update u_mobile_login
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.uUuid != null" >
        u_uuid = #{record.uUuid,jdbcType=CHAR},
      </if>
      <if test="record.sUuid != null" >
        s_uuid = #{record.sUuid,jdbcType=CHAR},
      </if>
      <if test="record.token != null" >
        token = #{record.token,jdbcType=CHAR},
      </if>
      <if test="record.createdAt != null" >
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastAccessTime != null" >
        last_access_time = #{record.lastAccessTime,jdbcType=INTEGER},
      </if>
      <if test="record.pushInfo != null" >
        push_info = #{record.pushInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update u_mobile_login
    set id = #{record.id,jdbcType=BIGINT},
      u_uuid = #{record.uUuid,jdbcType=CHAR},
      s_uuid = #{record.sUuid,jdbcType=CHAR},
      token = #{record.token,jdbcType=CHAR},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      last_access_time = #{record.lastAccessTime,jdbcType=INTEGER},
      push_info = #{record.pushInfo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.yqy.entity.UMobileLogin" >
    update u_mobile_login
    <set >
      <if test="uUuid != null" >
        u_uuid = #{uUuid,jdbcType=CHAR},
      </if>
      <if test="sUuid != null" >
        s_uuid = #{sUuid,jdbcType=CHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=CHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="lastAccessTime != null" >
        last_access_time = #{lastAccessTime,jdbcType=INTEGER},
      </if>
      <if test="pushInfo != null" >
        push_info = #{pushInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jyss.yqy.entity.UMobileLogin" >
    update u_mobile_login
    set u_uuid = #{uUuid,jdbcType=CHAR},
      s_uuid = #{sUuid,jdbcType=CHAR},
      token = #{token,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      last_access_time = #{lastAccessTime,jdbcType=INTEGER},
      push_info = #{pushInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <!-- 根据token查询用户 -->
  <select id="findUserByToken" parameterType="String" resultMap="BaseResultMap">
  		select * from u_mobile_login 
  		<where>
  			<if test="token != null and token != ''">and token = #{token}</if>
  		</where>
  		order by created_at desc
  </select>
  
  
  
  
</mapper>