
<!--  <?xml version="1.0" encoding="UTF-8" ?>-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jyss.yqy.mapper.UserMapper" > 
    
             
    <resultMap type="com.jyss.yqy.entity.jsonEntity.UserBean" id="ubResultMap">   
        <id property="id" column="id"  /> 
        <result property="uuid" column="uuid"  />  
        <result property="salt" column="salt"  />  
        <result property="pwd" column="pwd"  />     
        <result property="account" column="account"  />             
        <result property="nick" column="nick"  />
        <result property="status" column="status"  /><!--status1删除 1=正常2=禁用  -->        
        <result property="avatar" column="avatar"  />
        <result property="sex" column="sex"  /> 
        <result property="age" column="age"  />
        <result property="idCard" column="id_card"  />
        <result property="realName" column="real_name"  />
        <result property="provinceId" column="province_id"  />
        <result property="province" column="province"/>
        <result property="cityId" column="city_id"  />
        <result property="city" column="city"/>
        <result property="areaId" column="area_id"  />
        <result property="area" column="area"/>
        <result property="isChuangke" column="is_chuangke"  /><!--is_chuangke0普通会员1代言人2初级代理人 3中级代理人4高级代理人  -->
        <result property="isAuth" column="is_auth"  /><!--isAuth 1=已提交 2=审核通过3=审核不通过  -->
        <result property="bCode" column="b_code"  />
        <result property="bIsPay" column="b_is_pay"  />
        <result property="token" column="token"  />
        <result property="payPwd" column="pay_pwd"  /> 
        <result property="cashScore" column="cash_score"  /> 
        <result property="shoppingScore" column="shopping_score"  /> 
        <result property="totalPv" column="total_pv"  />
        <result property="createdAt" column="created_at"  />
        <result property="lastAccessTime" column="last_access_time"  />
        <result property="totalAmount" column="total_amount"  />
        <result property="electScore" column="elect_score"  />
        <result property="bdScore" column="bd_score"  />
        <result property="cjStatus" column="cj_status"  />
        <result property="isTransfer" column="is_transfer"  />
        <result property="borrow" column="borrow"  />
    </resultMap>
             
     <!-- B端 -->        
     <!-- 登录查询相关用户 -->   
     <!-- status  -1删除 1=正常2=禁用 isAuth 1=已提交 2=审核通过3=审核不通过  statusAuth 0=审核中 1=通过 2=未通过 -->
    <select id="getUserBy" resultMap="ubResultMap">           
	    select u.id,u.uuid,u.nick,u.salt,u.pwd,u.account,u.status,u.avatar,u.sex,u.age,u.is_chuangke,u.pay_pwd,
        u.cash_score,u.is_auth,u.total_pv,u.b_code,u.b_is_pay,a.real_name,a.id_card,u.elect_score,u.bd_score,u.borrow,u.is_transfer
	    from u_user u  left join u_user_auth a on u.uuid = a.u_uuid
        <where>
          <if test="account != null and account !=''"> and u.account = #{account} </if>
          <if test="status != null and status !=''"> and u.status = #{status} </if>
          <if test="isAuth != null and isAuth !=''"> and u.is_auth = #{isAuth} </if>
          <if test="statusAuth != null and statusAuth !=''"> and a.status = #{statusAuth} </if>
          <if test="statusAuth != null and statusAuth !=''"> and a.status &gt;= #{statusAuthMoreThan} </if>
        </where>
    </select>  
    
    <!--查询个人信息  -->
    <select id="getUserInfo" resultMap="ubResultMap">           
	    select u.id,u.uuid,u.nick,u.account,u.status,u.avatar,u.is_chuangke,u.cash_score,u.shopping_score,
        u.is_auth,u.b_code,u.pay_pwd,u.total_pv,u.province_id,u.province, u.city_id,u.city,u.area_id,
        u.area,a.real_name,a.id_card ,u.elect_score,u.bd_score,u.borrow ,u.is_transfer
        from u_user u left join u_user_auth a on u.uuid = a.u_uuid
        <where>
          1 = 1 and  u.is_chuangke in(2,3,4,5)
          <if test="account != null and account !=''"> and u.account = #{account} </if>
          <if test="uuid != null and uuid !=''"> and u.uuid = #{uuid} </if>
          <if test="id != null and id !=''"> and u.id = #{id} </if>
          <if test="status != null and status !=''"> and u.status = #{status} </if>
          <if test="isAuth != null and isAuth !=''"> and u.is_auth = #{isAuth} </if>
          <if test="statusAuth != null and statusAuth !=''"> and a.status = #{statusAuth} </if>
        </where>
    </select>



    <!--修改个人信息 -->
    <update id="upUserMyInfo"  >
        update u_user  set nick = #{nick} , province_id = #{provinceId} , province = #{province} ,
        city_id = #{cityId} , city = #{city} ,area_id = #{areaId} , area = #{area}, last_modify_time= now()
            where uuid =#{uuid}
    </update>
     
      
    <!--修改total_pv=加=返现额度 --> 
    <update id="upTotalPv"  >
        update u_user  set total_pv = total_pv + #{totalPv} ,last_modify_time=now()
             where uuid =#{uuid} 
    </update>
    
    
        <!--修改支付密码 --> 
    <update id="upPayPwd"  >
        update u_user  set pay_pwd = #{payPwd} ,last_modify_time=now()
             where uuid =#{uuid} 
    </update>
    
   <!--修改个人。。。等等。。状态 -->
   <!--is_chuangke=0普通会员1代言人2初级代理人 3中级代理人4高级代理人  -->
   <!--status=1删除 1=正常2=禁用  -->  <!--isAuth= 1=已提交 2=审核通过3=审核不通过  -->
    <!--bCode=====个人推广码  -->  <!--bIsPay===0=未 1=付款  -->
    <update id="upUserAllStatus"  >
        update u_user  set last_modify_time =now()
          <if test="status != null and status !=''"> ,status = #{status} </if>
          <if test="bCode != null and bCode !=''"> ,b_code = #{bCode} </if> 
          <if test="bIsPay != null and bIsPay !=''"> ,b_is_pay = #{bIsPay} </if> 
          <if test="isChuangke != null and isChuangke !=''"> ,is_chuangke = #{isChuangke} </if> 
          <if test="isAuth != null and isAuth !=''"> ,is_auth = #{isAuth} </if> 
         where id =#{id} 
    </update>
    
    <update id="upUserAllStatusByUUid"  >
        update u_user  set last_modify_time =now()
          <if test="status != null and status !=''"> ,status = #{status} </if>
          <if test="bCode != null and bCode !=''"> ,b_code = #{bCode} </if> 
          <if test="bIsPay != null and bIsPay !=''"> ,b_is_pay = #{bIsPay} </if> 
          <if test="isChuangke != null and isChuangke !=''"> ,is_chuangke = #{isChuangke} </if> 
          <if test="isAuth != null and isAuth !=''"> ,is_auth = #{isAuth} </if> 
         where uuid =#{uuid} 
    </update>


    <!--查询是否重复，根据bcode和uuid  -->
    <select id="getUserIsOnlyBy" resultMap="ubResultMap">
        select * from u_user
        <where>
            1 = 1
            <if test="bCode != null and bCode !=''">and b_code = #{bCode} </if>
            <if test="uuid != null and uuid !=''"> and uuid = #{uuid} </if>
        </where>
    </select>

    <!--修改user各种金额-->
    <update id="upUserMoneyByUUidOrId"  >
        update u_user  set last_modify_time =now()
        <if test="totalPv != null and totalPv !=''"> ,total_pv = total_pv+ #{totalPv} </if>
        <if test="cashScore != null and cashScore !=''"> ,cash_score = cash_score+ #{cashScore} </if>
        <if test="shoppingScore != null and shoppingScore !=''"> ,shopping_score = shopping_score + #{shoppingScore} </if>
        <if test="electScore != null and electScore !=''"> ,elect_score = elect_score + #{electScore} </if>
        <if test="bdScore != null and bdScore !=''"> ,bd_score = bd_score + #{bdScore} </if>
        <if test="totalAmount != null and totalAmount !=''"> ,total_amount = total_amount + #{totalAmount} </if>
        <if test="borrow != null and borrow !=''"> ,borrow = borrow + #{borrow} </if>
        <if test="isChuangke != null and isChuangke !=''"> ,is_chuangke =  #{isChuangke} </if>
        <if test="bIsPay != null and bIsPay !=''"> ,b_is_pay = #{bIsPay} </if>
        <if test="bcode != null and bcode !=''"> ,b_code = #{bcode} </if>
        <where>
            1 = 1
            <if test="uuid != null and uuid !=''"> and uuid = #{uuid} </if>
            <if test="id != null and id !=''"> and id = #{id} </if>
        </where>
    </update>
    

    <select id="getUserById" resultMap="ubResultMap">           
	    select u.id,u.uuid,u.nick,u.salt,u.pwd,u.account,u.status,u.avatar,u.sex,u.age,
        u.is_chuangke,u.pay_pwd,u.b_is_pay,u.is_auth,u.cash_score,u.total_pv,u.b_code,
        a.real_name,a.id_card ,u.is_transfer,u.elect_score,u.bd_score,u.borrow
        from u_user u left join u_user_auth a on u.uuid = a.u_uuid
        <where>
          <if test="id != null and id !=''"> and u.id = #{id} </if>
          <if test="status != null and status !=''"> and u.status = #{status} </if>
          <if test="isAuth != null and isAuth !=''"> and u.is_auth &gt;= #{isAuth} </if>
        </where>
    </select>  
    
   <!-- 用户注册 -->
    <insert id="addUser" parameterType="com.jyss.yqy.entity.User" 
        useGeneratedKeys="true" keyProperty="id">         
	<!-- 	insert into u_user values(null,#{uuid},#{account},#{pwd},#{salt},'0','1',now(),'0','0','0','tjr','0','0',
		'0','0','0','0','1','0',now(),'0','0',now(),'0','0',now(),'1','0','0','1','0','0','0','0','0','0',
		'0','0','0','0','0','code','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0'); -->
		insert into u_user (id,uuid,account,pwd,salt,nick,status,created_at,integral,currency,avatar,r_uuid_1,province_id,province,city_id,
              city,area_id,area,sex,age,last_modify_time,real_name,uid,last_login_time,pay_pwd,is_chuangke,birth_date,is_auth,r_uuid_2,r_uuid_3,
              is_pay,b_is_pay,qr_code,money,chuangke_money,chuangke_r_1,chuangke_r_2,chuangke_r_3,chuangke_r_1_money,chuangke_r_2_money,chuangke_r_3_money,
               code,b_code,d_uuid_1,d_uuid_2,d_uuid_3,d_r_1_money,d_r_2_money,d_r_3_money,d_money,d_r_money,d_r_1,d_r_2,d_r_3,r_shop_money,ali_account,
               ali_name,cash_score,shopping_score,consume,total_pv) 
		values(null,#{uuid},#{account},#{pwd},#{salt},'','1',now(),'0','0','','','0','',
		'0','','0','','1','0',now(),'','0',now(),'','0',now(),'0','','','0','0','','0','0','0',
		'0','0','0','0','0','','','','','','0','0','0','0','0','0','0','0','0','','','0','0','0','0');
           
    </insert>
    
    <!--<update id="upBCode"  >
        update u_user  set b_code = #{bCode} 
             where id =#{id} 
    </update>
    
   <select id="getUserCode" resultMap="ubResultMap">           
	      select u.id,u.uuid,u.nick,u.salt,u.pwd,u.account,u.status,u.avatar,u.sex,u.age,u.is_chuangke,u.is_auth,u.b_code,u.total_pv 
	           from u_user u 						
         <where> 
              1 = 1
              <if test="uuid != null and uuid !=''"> and u.uuid = #{uuid} </if> 	
              <if test="bCode != null and bCode !=''"> and u.b_code = #{bCode} </if> 				  		
		 </where> 
    </select> -->
    
    <!-- 通过推荐码查询推荐人信息 -->
    <!--<select id="getUserByBCode" resultMap="ubResultMap">
         select u.id,u.uuid,a.real_name,u.is_chuangke ,u.is_auth,u.total_pv
         from u_user u left join u_user_auth a on u.uuid = a.u_uuid
         <where> 
              1 = 1
              <if test="bCode != null and bCode !=''"> and u.b_code = #{bCode} 
              and u.status = 1 and u.is_auth = 2
              </if> 			  		
		 </where> 
    </select>-->
    <select id="getUserByBCode" resultMap="ubResultMap">
        select a.id,a.uuid,a.nick,a.avatar,a.is_chuangke,a.b_code,a.is_transfer
        b.real_name as real_name
        from u_user a left join u_user_auth b on a.uuid = b.u_uuid
        <where>
            <if test="bCode != null and bCode !=''"> and a.b_code = #{bCode}</if>
            and a.status = 1 and a.is_auth = 2
        </where>
    </select>


    <select id="getUserByUuid" resultMap="ubResultMap">
        select id,uuid,nick,pay_pwd,is_chuangke,shopping_score,cash_score,
        is_auth,b_code,total_pv,elect_score,bd_score,is_transfer
        from u_user
        <where>
            <if test="uuid != null and uuid !=''"> and uuid = #{uuid}</if>
            and status = 1
        </where>
    </select>


    <!-- 登录表token -->
     <!-- useGeneratedKeys="true" keyProperty="id" -->
    <insert id="addLogin" >         
	    insert into u_mobile_login(id, u_uuid, s_uuid, token,
        created_at, push_info) values(null,#{uuid},'0',#{token},now(),'0');
    </insert>
    
    <select id="getToken" resultMap="ubResultMap">           
	      select * from  u_mobile_login		
         <where> 
              1 = 1
              <if test="uuid != null and uuid !=''"> and uuid = #{uuid} </if> 	
              <if test="token != null and token !=''"> and token = #{token} </if> 				  			
		 </where> 
		 order by created_at desc
    </select>    
    
    <!--修改token --> 
    <update id="upToken"  >
        update u_mobile_login  set token = #{token} ,last_access_time = #{time} 
             where uuid =#{uuid} 
    </update>
       
    
     <!--修改个人信息 --> 
    <update id="upMyInfo" parameterType="com.jyss.yqy.entity.User" >
        update u_user   set  avatar = #{avatar}  ,last_modify_time = now()
             where id =#{id} 
    </update>

   
    <!--修改密码 --> 
    <update id="upPwd" parameterType="string" >
        update u_user  set pwd = #{pwd},salt = #{salt}  ,last_modify_time = now()  where id = #{id}
    </update>
    

    <!-- 通过id查询积分 -->
    <select id="getUserScoreById" resultMap="ubResultMap">
         select id,uuid,cash_score,shopping_score,is_chuangke,total_pv,total_amount,cj_status,elect_score,bd_score
         from u_user
         <where>
              <if test="id != null and id !=''"> and id = #{id}
              and status = 1
              </if>
         </where>
    </select>

    
    <!-- 更新分红权,电子券,消费券,股券,报单券 -->
    <update id="updateScore" parameterType="com.jyss.yqy.entity.jsonEntity.UserBean">
    	update u_user
    	<set>
    		<if test="cashScore != null and cashScore != '' or cashScore == 0">cash_score = #{cashScore},</if>
    		<if test="shoppingScore != null and shoppingScore != ''or shoppingScore == 0">shopping_score = #{shoppingScore},</if>
    		<if test="totalPv != null and totalPv != ''or totalPv == 0">total_pv = #{totalPv},</if>
    		<if test="electScore != null and electScore != ''or electScore == 0">elect_score = #{electScore},</if>
    		<if test="bdScore != null and bdScore != ''or bdScore == 0">bd_score = #{bdScore},</if>
    		<if test="borrow != null and borrow != ''or borrow == 0">borrow = #{borrow},</if>
    	</set>
    	where id = #{id} 
    </update>


    <!-- 更新积分 -->
    <update id="updateScoreByFHJ" parameterType="com.jyss.yqy.entity.jsonEntity.UserBean">
    	update u_user
    	<set>
    		<if test="cashScore != null and cashScore != '' or cashScore == 0">cash_score = cash_score + #{cashScore}</if>
    		<if test="shoppingScore != null and shoppingScore != ''or shoppingScore == 0"> , shopping_score = shopping_score + #{shoppingScore}</if>
    		<if test="totalPv != null and totalPv != ''or totalPv == 0"> , total_pv = total_pv + #{totalPv}</if>
    	</set>
    	where id = #{id} and is_chuangke = #{isChuangke}
    </update>

       <!--登录查询相关用户
      status  -1删除 1=正常2=禁用 isAuth 1=已提交 2=审核通过3=审核不通过  statusAuth 0=审核中 1=通过 2=未通过-->
    <select id="getUserByFHJ" resultMap="ubResultMap">
	      select * from u_user	u
         <where> 
              1 = 1
              <if test="account != null and account !=''"> and u.account = #{account} </if> 	
              <if test="status != null and status !=''"> and u.status = #{status} </if> 				  
			  <if test="isAuth != null and isAuth !=''"> and u.is_auth = #{isAuth} </if> 	
			  <if test="isChuangke != null and isChuangke !=''"> and u.is_chuangke = #{isChuangke} </if>
		 </where> 
    </select>
    
    <!-- 更新积分 -->
    <update id="updateUserBackScore" parameterType="com.jyss.yqy.entity.jsonEntity.UserBean">
    	update u_user
    	<set>
    		<if test="cashScore != null and cashScore != '' or cashScore == 0">cash_score = #{cashScore}</if>
    		<if test="shoppingScore != null and shoppingScore != ''or shoppingScore == 0"> , shopping_score = #{shoppingScore}</if>
    	</set>
    	where uuid = #{uuuid} 
    </update>


    <!-- ////////分红奖/////// -->
    <!--查询分红奖用户-->
    <select id="selectUserByFHJ" resultMap="ubResultMap">
        select id,total_pv
        from u_user
        where status = 1 and is_auth = 2 and total_pv &gt; 0
    </select>


    <!-- ////////层奖/////// -->
    <!--更新层奖层次状态和共享奖余额-->
    <update id="updateUserCjStatus" >
        update u_user
        <set>
            <if test="cjStatus != null">cj_status = #{cjStatus},</if>
            <if test="amount != null">total_amount = #{amount},</if>
        </set>
        where id = #{id}
    </update>


    <!--查询所有借贷用户-->
    <select id="selectUserBorrow" resultMap="ubResultMap">
        select id,uuid,cash_score,shopping_score,is_chuangke,total_pv,
        total_amount,cj_status,elect_score,bd_score,borrow
        from u_user
        where borrow &gt; 0
    </select>


    <!--查询所有总监助理-->
    <select id="selectUserZL" resultMap="ubResultMap">
        select a.zj_uid as age,c.cash_score,c.id,c.uuid
        from j_record_zl a left join p_account_users_b b on a.u_id = b.id
        left join u_user c on b.user_id = c.id
        where a.status = 1 and c.is_chuangke = 6
    </select>


</mapper>