<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jyss.yqy.mapper.UUserRRecordBMapper" >
  <resultMap id="BaseResultMap" type="com.jyss.yqy.entity.UUserRRecordB" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="r_id" property="rId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List" >
    id, u_id, r_id, type, created_at, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jyss.yqy.entity.UUserRRecordBExample" >
    select
    <if test="distinct" > distinct </if>
    <include refid="Base_Column_List" />
    from u_user_r_record_b
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <insert id="insert" parameterType="com.jyss.yqy.entity.UUserRRecordB" >
    insert into u_user_r_record_b (id, u_id, r_id, type, created_at, status)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{rId,jdbcType=INTEGER},
      #{type,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.jyss.yqy.entity.UUserRRecordB" >
    update u_user_r_record_b
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="rId != null" >
        r_id = #{rId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  
   <!--记录查询--> 
  <select id="getRecordB" resultMap="BaseResultMap" >
      select * from u_user_r_record_b
          <where>
             1 = 1
             <if test="uId != null and uId !=''"> and u_id = #{uId} </if>
             <if test="rId != null and rId !=''"> and r_id = #{rId} </if>
             <if test="status != null and status !=''"> and status = #{status} </if>
          </where>
  </select>


  <!--等级记录查询-->
  <select id="getRecordBGroupByRid" resultMap="BaseResultMap" >
    select t.* from (  select * from u_user_r_record_b where status =1 order by type) t group by t.r_id
  </select>

  <update id="updateTypeByUid" >
    update u_user_r_record_b u
    set  u.type = #{type}
    where u.r_id = #{rId} and u.status = #{status}
  </update>



</mapper>